body {
    margin: 0;
    padding: 0;
    display: grid;
    background-color: rgb(233, 246, 248);
    font-family:  "Open Sans", sans-serif;
}

@font-face {
    font-family: 'OpenSans';
    src: url(../OpenSans-VariableFont_wdth,wght.ttf) url(../README.txt) url(../OFL.txt) url(../OpenSans-Italic-VariableFont_wdth,wght.ttf);
}

.minha-foto {
    text-align: center;
    background-color: rgb(49, 198, 212);
}

.o{
    background-color: rgb(9, 120, 153);
    padding: 0.3px;
}
nav{
    background-color: rgb(46, 221, 236);
    padding: 8px;
}

.minha-foto img {
    text-align: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.links {
    display: flex;
    align-content: center;
    flex-direction: column;
    text-align: center;
    margin: 30px;
}

.sites {
    width: 50px;
    height: 50px;

}

footer {
    text-align: center;
    background-color: rgb(49, 198, 212);
    bottom: 0;
    padding: 15px;
    
}

